html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-flow: column;
}

.container {
  max-width: 50rem;
}

.masthead {
  background-color:#24292e;
}

.jumbotron {
  background-image: url('https://stravastatic.blob.core.windows.net/static/Capture_blur.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: local;
  margin-left: -999rem;
  padding-left: 999rem;
  margin-right: -999rem;
  padding-right: 999rem;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

footer{
  margin-top: auto;
  background-color: #f6f8fa;

}

hr {
  height: 1px;
  color: #000000;
  background-color: #000000;
  border: none;
}

.my-hr {
  height: 1px;
  color: #c7c7c7;
  background-color: #c7c7c7;
  border: none;
}
