<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <a class="navbar-right" href="#"><img src="/static/api_logo_pwrdBy_strava_stack_white.png" alt=""></a>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" href="{{ url_for('index.index') }}">Home</a>
          <a class="nav-link" href="{{ url_for('heatmap.heatmap') }}">Map</a>
          <a class="nav-link" href="#">Tutorial</a>
          <a class="nav-link" href="{{ url_for('contact.contact') }}">Contact</a>
        </nav>
      </div>
    </header>
  
    <link href=https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/cover.css') }}">

    {% block content %}{% endblock %}
  
    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      </div>
    </footer>
  </div>
